head
  title #{title}
  link(type="text/css" rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css")
  link(type="text/css" rel="stylesheet" href="default.css")
  script(src="jquery/jquery.min.js")
  script(src="bootstrap/dist/js/bootstrap.min.js")