nav(class="navbar navbar-default" role="navigation")
  .navbar-header
    a(class="navbar-brand" href="/") Home
  div(class="collapse navbar-collapse")
    ul(class="nav navbar-nav")
      li
        a(href="#") Blog
      li
        a(href="#") Projects
    p(class="nav navbar-text pull-right")
      |Check out my <a href="https://github.com/packrat386">Github</a>!        