doctype html
html
  include includes/head
  body
    include includes/navbar
    .container
      #wrapper
        div(class="col-md-3 well" id="about")
          h3 About Me
          p I'm a Computer Science student at the University of Michigan, and I've made this website to keep track of the projects that I have made at hackathons and the like
          p If you want to get in contact with me, send me an email at <a href="mailto:packrat386@gmail.com">packrat386@gmail.com</a>
        .col-md-1
        .col-md-7
          h3 Recent Projects
          p Here are the most recent interesting things that I worked on
          ul
            li
              a(href="#") Live Report Companion
            li
              a(href="#") Dota 2 Ranking
            li
              a(href="/BracketDistTool") Bracket Distribution Tool
            li
              a(href="#") This Website!
